/AF Job09.py
/AF Job19 Trier.py
/AF Job20 Valeur de retour.py
/data.txt
/dd.py
/dico.txt
/domains.xml
/ee.py
/job01 Les variables.py
/job02 La saisie utilisateur.py
/job03 Les types et conditions.py
/Job04 Les boucles while.py
/Job05 Les boucles For.py
/Job06 Les boucles infinies.py
/Job07 Fizz Buzz.py
/Job08 Rectangle.py
/Job10 Ecriture et lecture de fichier.py
/Job11 Traitement d_un fichier 1.0 (Classico d_el Madrido).py
/Job11 Traitement d_un fichier 1.0 (Minidom).py
/Job11 Traitement d_un fichier 1.0 (Regex).py
/Job12 Traitement d_un fichier 2.0.py
/Job13 Traitement d’un fichier 3.0.py
/Job14  Fonctions.py
/Job15  Fonctions et paramètres.py
/Job16 Fonctions et paramètres 2.0.py
/Job17 Listes.py
/Job18 Trier avec sort.py
/Pendu.py
/test